<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/sdh-icon.png">
    <title>INSN-SDH-App</title>
    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/registration.css" rel="stylesheet">
    <!-- JS -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="../js/script.js"></script>
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../img/sdh-icon.png" alt="" width="72" height="72">
        <h2>Registrar nuevo(a) paciente</h2>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="fname">Nombres</label>
                <input type="text" class="form-control" id="fname" placeholder="" value="" autofocus required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lname">Apellidos</label>
                <input type="text" class="form-control" id="lname" placeholder="" value="" required>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="bdate">Fecha de nacimiento</label>
                  <input type="text" class="form-control" id="bdate" placeholder="YYYY-MM-DD" value="" required>
                </div>
              <div class="col-md-4 mb-3 form-group">
                <label for="gender">Sexo</label>
                <select class="form-control" id="gender" name="gender" required>
                  <option selected value=""></option>
                  <option value="male">Hombre</option>
                  <option value="female">Mujer</option>
                  <option value="other">Otra</option>
                  <option value="unknown">Sin información</option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" placeholder="" value="12345678-9" required>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="address">Dirección</label>
                  <input type="text" class="form-control" id="address" placeholder="1234 Calle Principal #5" value="" required>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="dpto">Departamento</label>
                  <input type="text" class="form-control" id="dpto" placeholder="" value="">
                </div>
              <div class="col-md-4 mb-3">
                <label for="district">Distrito</label>
                <input type="text" class="form-control" id="district" placeholder="" value="">
              </div>
              <div class="col-md-4 mb-3">
                <label for="province">Provincia</label>
                <input type="text" class="form-control" id="province" placeholder="" value="">
              </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success btn-md btn-block" href="dashboard.html">Entrar</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger btn-md btn-block" href="../index.html">Cancelar</a>
                </div>
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

  </body>
</html>
