<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/sdh-icon.png">
    <title>INSN-SDH-App</title>
    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link
       href="https://clinicaltables.nlm.nih.gov/lforms-versions/27.1.0/styles/lforms.min.css"
       media="screen" rel="stylesheet" />
    <!-- JS -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../js/script.js"></script>
  </head>

  <body onload="renderForm()">
      <div id="q-modal" class="custom-modal">
          <!-- The modal content -->
          <div class="custom-modal-content"><h4>FHIR Questionnaire Resource <button style="float:right;"class="btn btn-primary" onclick="return closeModal('q')">Close</button></h4>
              <pre id="q-modal-pre" style="margin-top:30px;"></pre>
          </div>
      </div>
      <div id="qr-modal" class="custom-modal">
          <!-- The modal content -->
          <div class="custom-modal-content"><h4>FHIR QuestionnaireResponse Resource <button style="float:right;"class="btn btn-primary" onclick="return closeModal('qr')">Close</button></h4>
              <pre id="qr-modal-pre" style="margin-top:30px;"></pre>
          </div>
      </div>
      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Nav Item - Dashboard -->

          <li class="text-center nav-item active mt-5">
            <a class="btn btn-large btn-primary" href="dashboard.html">Regresar</a>
          </li>
          <li class="text-center nav-item active mt-5">
            <span style="color:white">Demo only:</span>
            <button class="btn btn-large btn-primary" onclick="openModal('q')">FHIR</button>
          </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <div class="row mt-4">

                  <!-- Area Chart -->
                  <div class="col-lg-12">
                    <div class="card shadow mb-4">
                    <!-- page title -->
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center">
                        <h6 class="m-0 mr-2 font-weight-bold text-gray-800 text-uppercase">Paciente: </h6>
                        <h6 class="m-0 mr-2 font-weight-bold text-gray-800 text-uppercase">Miguel Watkins</h6>
                      </div>
                      <!-- Card Body -->
                    </div>
                  </div>
                </div>

              <!-- Content Row -->
              <div class="row">
                <div class="col-md-12" id=formContainer></div>
                <script
                    src="https://clinicaltables.nlm.nih.gov/lforms-versions/27.1.0/lforms.min.js">
                </script>
                <script
                    src="https://clinicaltables.nlm.nih.gov/lforms-versions/27.1.0/fhir/R4/lformsFHIR.min.js">
                </script>

                  <script>
                     async function renderForm(){
                         let q = await fetch('../socioeconomico/questionnaire.json');
                         let fhirQ = await q.json();
                         let qr = await fetch('../socioeconomico/questionnaireResponse.json');
                         let response = await qr.json();
                         // Convert FHIR Questionnaire to LForms format
                        let lformsQ = LForms.Util.convertFHIRQuestionnaireToLForms(fhirQ, 'R4');
                        // Merge QuestoinnaireResponse
                        let formWithUserData = LForms.Util.mergeFHIRDataIntoLForms("QuestionnaireResponse", response, lformsQ, "R4");
                        // Add the form to the page
                        LForms.Util.addFormToPage(formWithUserData, formContainer);
                    }
                    </script>
                    <div class="col-md-12 text-center" style="padding-bottom:10px">
                        <span class="text-center">Demo only:</span>
                        <br />
                        <button class="btn btn-primary" onclick="openModal('qr')" style="font-size:15px;">
                            FHIR
                        </button>
                        <br /><br />
                        <a class="btn btn-success" href="dashboard.html" style="font-size:15px;">
                            Enviar Respuesta
                        </a>
                        <br /><br />
                    </div>
              </div>
            <!-- /.container-fluid -->
          </div>
          <!-- End of Main Content -->


          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>University of Utah <br />Department of Biomedical Informatics</span>
            </div>
          </div>
        </footer>
      </div>
      <!-- End of Page Wrapper -->

    <!-- Icons -->
    <script>
      feather.replace()
    </script>
  </body>
</html>
