<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/icons/dark-icon.png">
    <title>ResultsMyWay</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet">
    <link href="../css/dashboard.css" rel="stylesheet">
</head>

<body onload="accountDetail()">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4 style="cursor:pointer;" onclick="window.location='../index.html';" class="title d-flex align-items-center px-3 mt-1 mb-1 text-muted">
                      ResultsMyWay &nbsp;<img src="../img/icons/dark-icon.png" height="30" width="30">
                      <!--a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a-->
                  </h4>
                <hr>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="results.html">
                            <span data-feather="activity"></span>
                            Results
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Resources</span>
                    <!--a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a-->
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="library.html">
                        <span data-feather="book-open"></span>
                        Knowledge Library
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="team.html">
                        <span data-feather="users"></span>
                        Care Team
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="community.html">
                        <span data-feather="smile"></span>
                        Community
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="studies.html">
                        <span data-feather="clipboard"></span>
                        Clinical Studies
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="settings"></span>
                        Account Information
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../index.html">
                    <span data-feather="log-out"></span>
                    Log Out
                  </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pl-0 pr-0">
        <div id="myCarousel" class="carousel slide"  data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Account Information</h1>
                            <br>
                            <h3>Modify your user details</h3>
                            <br><br><br>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>Screening Timeline<br><br><br><br><br><br></h2>
                        </div>
                        <div id="timeline"></div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row">
          <div style="padding:20px"class="col-md-12 ml-3">
            <div>
              <h5>User Full Name</h5>
            </div>
            <div style="padding:5px" class="row">
                <div class="col-md-4">
                  <input type="text" id="primary-fname" class="form-control" value="Amy">
                </div>
                <div class="col-md-4">
                  <input type="text" id="primary-lname" class="form-control"value="Lee">
                </div>
            </div>
            <div style="padding-top:10px;">
              <h5>Relationship with Newborn</h5>
            </div>
            <div style="padding-bottom:5px" class="row">
                <div class="col-md-4">
                  <select class="text-muted" id="primary-rel">
                      <option value="">Select...</option>
                      <option value="NMTH" selected>Natural Mother</option>
                      <option value="NFTH">Natural Father</option>
                      <option value="ADOPTM">Adoptive Mother</option>
                      <option value="ADOPTF">Adoptive Father</option>
                      <option value="MGRMTH">Maternal Grandmother</option>
                      <option value="MGRFTH">Maternal Grandfather</option>
                      <option value="PGRMTH">Paternal Grandmother</option>
                      <option value="PGRFTH">Paternal Grandfather</option>
                      <option value="FRND">Unrelated Friend</option>
                      <option value="O">Other</option>
                  </select>
                </div>
                <div class="col-md-4"><input type="text" id="primary-rel-other" class="form-control" placeholder="If other, please specify"></div>
            </div>
            <div style="padding-top:10px;">
              <h5>Email</h5>
            </div>
            <div style="padding-bottom:5px" class="row">
                <div class="col-md-4">
                  <input type="email" id="primary-email" class="form-control" value="amylee@gmail.com">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="padding-top:10px;">
              <h5>Phone number</h5>
            </div>
            <div style="padding-bottom:5px" class="row">
                <div class="col-md-4">
                  <input class="text-muted" type="tel" id="primary-phone" name="phone" value="801-000-0001" required>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="padding-top:10px;">
              <h5>Preferred Contact Method</h5>
            </div>
            <div style="padding-bottom:5px" class="row">
                <div class="col-md-4">
                    <input id="sms" type="radio" name="mode" value="text" checked> SMS
                    &emsp;&emsp;<input id="phone" type="radio" name="mode" value="call"> Automated phone call
                </div>
            </div>
            <div style="padding-top:20px;" class="row">
                <div class="col-md-2">
                  <a id="myBtn" href="#" class="btn btn-md btn-secondary btn-block">Change Password</a>
                  <!-- The Modal -->
                  <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <p>Some prompt to change password..</p>
                    </div>
                  </div>
                </div>
            </div>

            <br><br><br>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <a href="#" class="btn btn-md btn-outline-primary btn-block">Save Changes</a>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2020 Eilbeck Lab, Department of Biomedical Informatics, University of Utah | Utah Department of Health &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>
</div>
</div>
<!-- JS links -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="../js/script.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
feather.replace()
</script>
</body>
</html>
